* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

form {
  width: 400px;
  padding: 8px;
}

label {
  display: block;
  margin-block: 8px;
}

button {
  padding: 8px 12px;
  color: white;
  background: #0056ff;
  border: 0;
}

button:hover {
  background: #417ffb;
}
